:root {
  --background: #fefefe;
  --foreground: #171717;
  --primary: #028eeb;
  --second: #28292c;
  --accent: #360ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

body, button, input {
  font-family: var(--font-inter);
}
