.header_container {
    background-color: var(--second);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--background);
    margin-left: 2rem;
}

.links {
    display: flex;
    min-width: 20rem;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.button {
    background-color: var(--accent);
    color: white;
    min-width: 6.4rem;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

