.sidebar {
    display: flex;
    height: calc(100vh - 80px);
    max-width: 18rem;
    margin-right: 2rem;
    background-color: var(--second);
    padding: 2rem;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar_list li {
    list-style: none;
}

.element_list {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.125rem;
}

.icon {
    font-size: 2rem;
}